@page
@using video_streamming_proxy.Domain

@{
    Layout = "_Main";
}
<!DOCTYPE html>
@{
    Course course = ViewBag.Detail;
    bool UserHasCourse = ViewBag.UserHasCourse == null ? false : ViewBag.UserHasCourse;
}
<section class="section">
<form action="/user/courses/@course.Slug/purchase" method="POST">
    <h1 class="is-size-3">@course.Name</h1>
    <div class="columns mt-5">
        <div class="column">
            <img src="@course.GetThumbnailImage()" class="w-72"/>
            
        </div>
        <div class="column has-text-left">
            <div >@course.Description</div>
            <br />
            @if (!UserHasCourse)
            {
                <h2 class="is-size-1">R$ @course.Amount</h2>
                <br />
                <button class="button is-primary" type="submit">Comprar</button>
            }
            else
            {
                <a href="/user/courses/@course.Id" class="button is-outline is-primary">Ir para cursos</a>
            }

        </div>
    </div>
    <input type="hidden" name="courseId" value="@course.Id"/>
</form>
</section>
