@page
@using video_streamming_proxy.Domain

@{
    Layout = "_Main";
}
<!DOCTYPE html>
@{    
    Course course = ViewBag.Course;
    Chapter[] chapters = ViewBag.Chapters;    
    Chapter chap = ViewBag.SelectedChapter;
}

<section class="section">
    <h1 class="is-size-3 title">@course.Name - @chap.Title</h1>
    <div class="columns mt-5">
        <div class="column is-5 video 16by9">
            <video id="video" class="has-ratio" preload="none" autoplay="false" controls></video>
        </div>
        <div class="column has-text-left">
            <div >@course.Description </div>
            <br/>
            <h4 class="subtitle">Módulos</h4>
            @foreach (var chapter in chapters)
            {
                <a href="/user/courses/@course.Id?chapter=@chapter.Id">
                    <article class="media mb-5">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>@chapter.Title</strong>
                                    <br>
                                    @chapter.Description
                                </p>
                            </div>
                        </div>
                    </article>
                </a>
            }
        </div>
    </div>
</section>


<script>
    var video = document.getElementById('video');    
    var videoSrc = '/proxy/@chap?.Media?.StreamName';
    if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
    }
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc;
    
    }
</script>    