@model video_streamming_proxy.Controllers.SignupModel

@{
    Layout = "_Main";
}
<section class="section">
    <h1 class="title">Crie sua conta</h1>
    <h2 class="subtitle">
    Preencha o formulario abaixo para criar sua conta e ter acesso a plataforma
    </h2>

    @Html.ValidationSummary(true, "Verifique as mensagens abaixo", new { @class = "text-danger" })       
    <div class="flex justify-center items-center pt-6">
            
            <div class="mb-8">@ViewBag.SuccessMessage</div> 
            <div class="mb-8">@ViewBag.ErrorMessage</div> 
            
            <form action="/signup/create"  method="post" class="form-horizontal" role="form">
            <div class="field">           
                <div class="control">
                    <input type="text" name="Name" class="input" placeholder="Nome" />                          
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "has-text-danger" })
                </div>               
            </div>
            <div class="field">                          
                <input type="text" name="Email" class="input" placeholder="E-mail" />                          
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "has-text-danger" })
            </div>
            <div class="field">                                                    
            <input type="text" name="Phone" class="input" placeholder="Celular" />                  
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "has-text-danger" })
            </div>
            <div class="field">                                                    
            <input type="password" name="Password" class="input" placeholder="Senha" />                  
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "has-text-danger" })
            </div>                    
            <button type="submit" class="button is-link">
                Criar
            </button>
        </form>                    
    </div>
    
</section>
    


