@page
@using video_streamming_proxy.Domain

@{
    Layout = "_Main";
    
}

<!DOCTYPE html>
@{
    Course[] data = ViewBag.Courses;
}

<div class="columns">
@foreach (var course in data) 
{ 
    
    <div class="column is-one-third">       
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="@course.GetThumbnailImage()" alt="@course.Name" />
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                
                    <div class="media-content">
                        <p class="title is-5 is-size-2">@course.Name</p>
                        <p class="is-size-8">a partir de</p>
                        <p class="subtitle is-4">
                            R$ @course.GetInitialPrice()?.Amount <small style="font-size: 15px">/ @course.GetInitialPrice()?.Plan</small>
                        </p>
                    </div>
                </div>

                <div class="content">
                    <div class="is-size-6" style="min-height: 80px;" >@course.Description.Substring(0, course.Description.Length > 100 ? 100 : course.Description.Length)</div>
                
                    <div class="mt-5">
                        <a href="/courses/@course.Slug" class="button is-outlined is-primary">
                            Conheça os planos
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>


