@page
@using video_streamming_proxy.Domain

@{
    Layout = "_Main";
}
<!DOCTYPE html>
@{
    Course course = ViewBag.Course;
    Chapter[] chapters = ViewBag.Chapters;
}

<section class="section">
    <h1 class="is-size-3 title">@course.Name</h1>
    <div class="columns mt-5">
        <div class="column is-4 video 16by9">
            <img src="@course.GetThumbnailImage()" class="w-72"/>
        </div>
        <div class="column has-text-left">
            <div >@course.Description </div>
            <hr/>
            <p>
                <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
                Total de (@course.Chapters.Count())
            </p>
            <p>
                <ion-icon name="ban-outline"></ion-icon>
                Cancele sem custo a qualquer momento
            </p>
            <p>
                <ion-icon name="happy-outline"></ion-icon>
                Mais de 300 clientes satisfeitos
            </p>
            <hr/>
            <div class="dropdown is-full-size">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Conheça os módulos</span>
                        <span class="icon is-small">
                            <ion-icon name="caret-down-outline"></ion-icon>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content">
                        @foreach (var chapter in @course.Chapters)
                        {
                            <div class="dropdown-item">
                                <p>@chapter.Title</p>
                            </div>
                            <hr class="dropdown-divider">
                        }
                    </div>
                </div>
            </div>

        </div>
        <div class="column is-one-third">
            <h3>Planos Disponíveis</h3>
            @foreach (var price in course.GetAvailablePrices())
            {
                <div class="card mt-3 is-clickable" onclick="selectPlan('@price.Plan')" id="@price.Plan">
                    <div class="card-content">
                        <div class="content">
                            Plano @price.Plan
                            <h3>R$ @price.Amount</h3>
                        </div>
                    </div>
                </div>
            }
            <button class="button mt-3 is-large is-responsive is-fullwidth is-primary" onClick="goCheckout()">Compre Agora</button>
        </div>
    </div>
</section>

<script type="text/javascript">
var selectedPlan = '';
function selectPlan(plan) {
    selectedPlan = plan;    
    document.getElementById(selectedPlan).classList.add('has-background-primary');
    if (selectedPlan !== '') {
        document.getElementById(selectedPlan).classList.remove('has-background-primary');    
    }        
}
function goCheckout() {
    window.location = '/user/courses/@course.Slug/purchase?plan='+selectedPlan;
}
</script>